input[type="text"] {
  border-radius: 20px;
}

.messages {
  min-height: 450px;
  max-height: 450px;
  overflow-y: scroll;
  padding: 1rem;
  background: rgb(248, 248, 248);

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.03);
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.message-card {
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  clear: both;
  margin-bottom: 3px;
  text-align: left;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
}

.message-send {
  background: #cfeeb8;
  float: right;
  border-top-right-radius: 0;
}

.message-receive {
  background: white;
  float: left;
  border-top-left-radius: 0;
}

.message-receive:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-bottom: 0;
  margin-top: 0;
  margin-left: -10px;
  transform: rotate(-90deg);
}

.message-send:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #cfeeb8;
  border-left: 0;
  border-bottom: 0;
  margin-top: 0;
  margin-right: -10px;
  transform: rotate(180deg);
}

.message-time {
  margin: 0;
  font-size: 12px;
  opacity: 0.6;
  text-align: left;
}

.input-chat {
  clear: both;
  margin-top: 0.5rem;
  padding: 1rem;
}

.ant-card-head-title {
  text-align: left;
}

.ant-card-extra {
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  text-align: left;
}
