@import "~antd/dist/antd.css";

body {
  background: #002f44;
  font-family: montserrat, Vazir;
}

.ant-card {
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07);
}

.ant-card-body {
  padding: 0;
}
